.value-props {
  --brand-blue-600: #0072ce;

  display: grid;
  gap: var(--spacing-big);
  grid-template-columns: repeat(2, 1fr);
}

.value-props-icon .icon {
  width: 24px;
  height: 24px;
  color: var(--brand-blue-600);
  margin-bottom: var(--spacing-small);
}

.value-props-text h3 {
  font-size: 1.6rem;
  margin: 0 0 var(--spacing-xsmall);
}

.value-props-text p {
  font-size: 1.3rem;
  color: var(--color-neutral-800);
  margin: 0;
}

@media (min-width: 900px) {
  .value-props {
    grid-template-columns: repeat(4, 1fr);
  }
}
